{{ template "include/header.tmpl" }}

<div class="ui container">
  <table class="ui table definition">
    <tbody>
    <tr>
      <td>Name</td>
      <td>{{ .Name }}</td>
    </tr>
    <tr>
      <td>Token</td>
      <td>{{ .Token }}</td>
    </tr>
    </tbody>
  </table>
</div>

{{ template "include/footer.tmpl" }}