<html>
<head>
  <title>Heimdallr</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <style type="text/css">
    body > .ui.container {
      padding-top: 2em;
    }
  </style>
</head>
<body>

<div class="ui container">
  <div class="ui placeholder segment">
    <h1>Login</h1>
    <p>Issuing api token for CLI access such as lag-proxy.</p>
    <p>If you want to issue token for CLI tool, then click <b>Login</b></p>
    <a class="ui primary button" href="/token/authorized">Login</a>
  </div>
</div>

</body>
</html>