{{ template "include/header.tmpl" }}

<div class="ui container">
  <table class="ui definition table">
    <thead></thead>
    <tbody>
      <tr>
        <td>Id</td>
        <td>{{ .UserInfo.Id }}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{{ .UserInfo.Type }}</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>
          <ol class="ui list">
            {{ range .UserInfo.Roles -}}
            <li>
            {{ if includes $.UserInfo.MaintainRoles . }}
            <i class="edit icon"></i>
            {{ end -}}
            {{ . }}
            </li>
            {{ end -}}
          </ol>
        </td>
      </tr>
      <tr>
        <td>Last Logged-in</td>
        <td>### TODO ###</td>
      </tr>
      <tr>
        <td>Allowed URLs</td>
        <td>
          <div class="ui list">
            {{ range .Backends }}
            <a href="https://{{ .Fqdn }}" class="item">{{ .Fqdn }}</a>
            {{ end }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{{ template "include/footer.tmpl" }}