{{ template "include/header.tmpl" }}

<div class="ui container">
  <h2 class="ui header">{{ .UserInfo.Id }}</h2>
  <div class="ui divider"></div>

  <a href="/user/{{ .UserInfo.Id }}/edit" class="ui button basic green">
    <i class="edit icon"></i>Edit
  </a>

  <table class="ui definition table">
    <thead></thead>
    <tbody>
      <tr>
        <td>Id</td>
        <td>{{ .UserInfo.Id }}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{{ .UserInfo.Type }}</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>
          <ol class="ui list">
            {{ range .UserInfo.Roles -}}
            <li>
            {{ if includes $.UserInfo.MaintainRoles . }}
            <i class="edit icon"></i>
            {{ end -}}
            {{ . }}
            </li>
            {{ end -}}
          </ol>
        </td>
      </tr>
      <tr>
        <td>Login Name</td>
        <td>{{ .UserInfo.LoginName }}</td>
      </tr>
      <tr>
        <td>Last Logged-in</td>
        <td>{{ .UserInfo.LastLogin.AsTime.Local.Format "2006-01-02 15:04:05 -07:00" }}</td>
      </tr>
      <tr>
        <td>Allowed URLs</td>
        <td>
          <div class="ui list">
            {{ range .Backends }}
            <a href="https://{{ .Fqdn }}" class="item">{{ .Fqdn }}</a>
            {{ end }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{{ template "include/footer.tmpl" }}