apiVersion: etcd.f110.dev/v1alpha1
kind: EtcdCluster
metadata:
  name: sample
spec:
  members: 3
  version: v3.4.4
  defragmentSchedule: "*/10 * * * *"
  #backup:
    #intervalInSeconds: 600
    #maxBackups: 5
    #storage:
      #gcs:
        #bucket: etcd-controller-backup-test
        #path: backup
        #credentialSelector:
          #name: gcp-service-account
          #serviceAccountJSONKey: serviceaccount.json
#      minio:
#        path: backup
#        bucket: etcdcluster
#        secure: false
#        serviceSelector:
#          name: object-storage-hl-svc
#          namespace: default
#        credentialSelector:
#          name: object-storage-token
#          namespace: default
#          accessKeyIDKey: accesskey
#          secretAccessKeyKey: secretkey
